@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Rubik+Dirt&display=swap');
 
*{padding: 0;
margin:0;}
    
header{ 
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,55,250,1) 0%, rgba(28,128,255,1) 10%, rgba(15,44,230,1) 36%, rgba(2,125,252,1) 56%, rgba(0,95,255,1) 80%, rgba(0,108,255,1) 93%);

    justify-content: center; }

 body{
    text-align: center;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
}


a{color:white;
    border: 3px solid lightskyblue;
text-decoration: none;}
ul{
    font-size: 20px;
    word-spacing: 1px;
  
}
li{display: inline;
    color: white;
    text-align: center;
}

nav{  
    font-style:normal;
    display: flex;
    justify-content: center;
    letter-spacing: 4px ;
    margin-top: 5px;
 
}

.logopixel{
    width: 30px;
    height: 20px;

}


.h1Inicio,.h1Servicios,.h1Historia{
    font-size: 40px;
    border: 10px black solid;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rubik Dirt', cursive;
    color: blue;

}



img{
    border-radius: 10px;
}
.p1Inicio,.p1Servicios,.p1Historia{
 font-size: 30px;
 font-weight: 600;
 border: 5px black solid;
 margin-top: 5px;
}

.item1{
    background-color: aqua;
    padding: 0%;
    margin: 0%;
    border: 10px solid black;
      }
.galeriacontainerInicio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    

}
footer{
    padding: 0%;
    word-spacing: 50px;

  
}


.card{
    border: 10px blue solid;
    
    
}
.card-body{
    background-color:white;
    

}
.card-text{
    color: black;
    font-size: 25px;
    font-weight: 600;
    
}




.containerservicios{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
     }
   



 @media(max-width: 1293px){ 
    .containerservicios{
    grid-template-columns: 2fr 2fr;

    }

 }


  @media(max-width:864px){

  
  .containerservicios{
    grid-template-columns: 1fr;

    }
   }
