
* {
    padding: 0;
    margin: 0;}

    
    
@media(max-width: 1293px){ 
    .containerservicios{
    grid-template-columns: 2fr 2fr;
}

  }
@media(max-width:864px){

.containerservicios{
    grid-template-columns: 1fr;


} 
.opinion{ 
   width:95%;
    margin: 10px;
    border: 5px blue solid;
    
    }
.franypili{
width: 80%;
}

  } 